#header {
	width:100%;
	background-color: rgba(234, 234, 234, 0.6);

	.top-bar {
		background: none;
		.inner {
			padding: 10px 4px;

			ul {
				background: none;

				li a {
					color: $black;

				}
			}
		}
	}
}

#messages {
	.callout {
		margin: 1rem 0;
	}
}